        <div id="loginModal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">

                        <div>
                            <h2 class="sr-only">Login Form</h2>
                            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
                            <div class="form-group"><input class="form-control" type="text" name="u_id" id="u_id" placeholder="ID" /></div>
                            <div class="form-group"><input class="form-control" type="password" name="u_pw" id="u_pw" placeholder="Password" /></div>
                            <div class="form-group" id="u_name_Toggle" style="display:none;"><input class="form-control" type="text" name="u_nm" id="u_nm" placeholder="Name" /></div>
                            <div class="form-group" id="u_company_Toggle" style="display:none;"><input class="form-control" type="text" name="u_cp" id="u_cp" placeholder="Company" /></div>
                            <div class="form-group" id="login_section"><button class="btn btn-primary btn-block" id="login">로그인</button></div>
                            <div class="form-group" id="join_section" style="display:none;"><button class="btn btn-primary btn-block" id="join">가입하기</button></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">취소</button>
                        <button class="btn btn-primary" type="button" id="show">회원가입</button>
                        <button class="btn btn-primary" type="button" id="hide" style="display:none;">뒤로</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#show').on('click', function(){
            $("#join_section").show();
            $("#u_name_Toggle").show();
            $("#u_company_Toggle").show();
            $("#login_section").hide();
            $("#show").hide();
            $("#hide").show();
        });
        $('#hide').on('click', function(){
            $("#join_section").hide();
            $("#u_name_Toggle").hide();
            $("#u_company_Toggle").hide();
            $("#login_section").show();
            $("#show").show();
            $("#hide").hide();
        });

        $("#loginToggle").on("click", function(){
            $("#loginModal").modal("show");
        });

        $('#login').on('click', function(){
            var u_id = $("#u_id").val();
            var u_pw = $("#u_pw").val();
            var params = {'u_id' : u_id, 'u_pw' : u_pw};
            $.ajax({
                url: '/ajax/login',
                method: 'POST',
                data : params
            }).done(function(data){
                if(data.result == 1){
                    setTimeout(function(){
                        location.reload();
                    },100);
                }
                else{
                    alert("아이디와 비밀번호를 확인해주세요.");
                }
            });

        });

        $("#logout").on("click", function(){
            $.ajax({
                url: '/ajax/logout',
                method: 'POST'
            }).done(function(data){
                if(data.result == 1){
                    setTimeout(function(){
                        location.reload();
                    },100);
                }
                else{
                    alert("오류가 발생했습니다");
                }
            });
        });
        $('#join').on('click', function(){
            var u_id = $("#u_id").val();
            var u_pw = $("#u_pw").val();
            var u_nm = $("#u_nm").val();
            var u_cp = $("#u_cp").val();
            var params = {'u_id' : u_id, 'u_pw' : u_pw, 'u_nm' : u_nm, 'u_cp' : u_cp};
            $.ajax({
                url: '/ajax/join',
                method: 'POST',
                data : params
            }).done(function(data){
                if(data.result == 1){
                    alert("가입 완료되었습니다.");
                    location.href = '/{{menu}}';
                }
                else{
                    alert(data.msg);
                }
            });

        });
    </script>
</body>

</html>