<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% for m in menuList %}
        {% if m['menu_name'] == menu %}
            <title>{{m['menu_label']}}</title>
        {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Navigation-with-Button.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/styles.css')}}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/">Company Name</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    {% for m in menuList %}
                    <li class="nav-item" role="presentation">
                        {% if m['menu_name'] == menu %}
                        <a class="nav-link active" href="{{m['menu_path']}}">{{m['menu_label']}}</a>
                        {% else %}
                        <a class="nav-link" href="{{m['menu_path']}}">{{m['menu_label']}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}

                </ul>
                {% if isLogin %}
                <span class="navbar-text actions">
                    <a id="logout" class="btn btn-light action-button" role="button" href="#">로그아웃</a>
                </span>
                {% else %}
                <span class="navbar-text actions">
                    <a id="loginToggle" class="btn btn-light action-button" role="button" href="#">로그인</a>
                </span>
                {% endif %}
            </div>
        </div>
    </nav>
    <div>
        <div class="container">